{% extends 'game/base.html' %}
{% load static %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Game Information</h1>
        <ol class="breadcrumb">
            <li><a href="/game/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/game/schedule">Schedule</a></li>
            <li class="active">Game Information</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="invoice">
      <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                <i class="fa fa-dribbble">
                    {{visit_team}}&nbsp;&nbsp;&nbsp;&nbsp;VS&nbsp;&nbsp;&nbsp;&nbsp;{{home_team}}
                </i>
                <small class="pull-right">Date: {{today}}</small>
                </h2>
            </div>
            <!-- /.col -->
        </div>


          <!-- Profile Image -->

        <div class="col-md-4 text-center">
            <a href="/game/team={{ visit_team.team_name }}">
                <img class="img-thumbnail center-block img-circle "
                width="150px"
                height="150px "
                src="/static/assets/teamImg/{{visit_team.team_name}}.png">
            </a>

            <b style="font-size: 30px;">{{visit_team_win_number}} - {{visit_team_lose_number}}</b>

      	</div>

        <div class="col-md-4 text-center" style="font-size: 40px; text-align: center;">
            <br>
            {% if game.visit_team_point > game.home_team_point %}
                <b>{{game.visit_team_point}}</b> : {{game.home_team_point}}
            {% else %}
                {{game.visit_team_point}} : <b>{{game.home_team_point}}</b>
            {% endif %}
        </div>

        <div class="col-md-3 col-md-offset-1 text-center">

            <a href="/game/team={{ home_team.team_name }}">
                <img class="img-thumbnail center-block img-circle "
                    width="150px"
                    height="150px "
                    src="/static/assets/teamImg/{{home_team.team_name|lower }}.png">
            </a>
            <b style="font-size: 30px;">{{home_team_win_number}} - {{home_team_lose_number}}</b>
        </div>



      <!-- Table row -->
      <div class="row">
          <div class="col-xs-4 btn-group">
          </div>
          <div class="col-xs-4">
              <h4 align="center">Game Begin On {{game.date}}</h4>
              <h4 align="center">{{home_team.team_city}}</h4>
              <h4 align="center">{{home_team.arena}}</h4>
          </div>
          <div class="col-xs-4">

          </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

    </section>

    <section class="content">

      <div class="row">
        <div class="col-xs-12">

          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Visit Team <b>{{visit_team}}</b></h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive" style="overflow: auto;">
              <table id="visitTeam" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Player</th>
                  <th>Is Start</th>
                  <th>Time</th>
                  <th>All Points</th>
                  <th>Rebound</th>
                  <th>Assist</th>
                  <th>Fault</th>
                  <th>Two Point</th>
                  <th>Three Point</th>
                  <th>Free Throw</th>
                </tr>
                </thead>
                <tbody>

                  {% for item in visit_team_player_data %}

                    <tr>
                      <td><a href="/game/player={{ item.player }}">{{ item.player }}</a></td>
                      <td>{{ item.is_start }}</td>
                      <td>{{ item.times }}</td>
                      {% load index %}
                      <td>{{ visit_team_player_point|get_at_index:forloop.counter0}}</td>
                      <td>{{ item.rebound }}</td>
                      <td>{{ item.assist }}</td>
                      <td>{{ item.fault }}</td>

                      <td>{{ item.two_point }}/{{item.two_point_all}}</td>
                      <td>{{ item.three_point }}/{{item.three_point_all}}</td>
                      <td>{{ item.free_throw }}/{{item.free_throw_all}}</td>

                    </tr>
                  {% endfor %}

                </tbody>
                <tfoot>
                <tr>
                  <th>Player</th>
                  <th>Is Start</th>
                  <th>Time</th>
                  <th>All Points</th>
                  <th>Rebound</th>
                  <th>Assist</th>
                  <th>Fault</th>
                  <th>Two Point</th>
                  <th>Three Point</th>
                  <th>Free Throw</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Home Team <b>{{home_team}}</b></h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive" style="overflow: auto;">
              <table id="homeTeam" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Player</th>
                  <th>Is Start</th>
                  <th>Time</th>
                  <th>All Points</th>
                  <th>Rebound</th>
                  <th>Assist</th>
                  <th>Fault</th>
                  <th>Two Point</th>
                  <th>Three Point</th>
                  <th>Free Throw</th>
                </tr>
                </thead>
                <tbody>

                  {% for item in home_team_player_data %}

                    <tr>
                      <td>{{ item.player }}</td>
                      <td>{{ item.is_start }}</td>
                      <td>{{ item.times }}</td>
                      {% load index %}
                      <td>{{ home_team_player_point|get_at_index:forloop.counter0}}</td>
                      <td>{{ item.rebound }}</td>
                      <td>{{ item.assist }}</td>
                      <td>{{ item.fault }}</td>

                      <td>{{ item.two_point }}/{{item.two_point_all}}</td>
                      <td>{{ item.three_point }}/{{item.three_point_all}}</td>
                      <td>{{ item.free_throw }}/{{item.free_throw_all}}</td>

                    </tr>
                  {% endfor %}

                </tbody>

              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->


    </section>
    <!-- /.content -->
{% endblock %}

{% block csshead %}
 <!-- DataTables -->
  <link rel="stylesheet" href="/static/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
{% endblock %}

{% block jsback %}
<!-- DataTables -->
<script src="/static/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script>
  $(function () {
    $('#visitTeam').DataTable();
    $('#homeTeam').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
</script>
{% endblock %}

