{% extends 'game/base.html' %}
{% block content %}
    <!-- Content Wrapper. Contains page content -->
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Today's Game
                <small>score</small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                {% if games.count == 0 %}
                    <div class="small-box"><b>No Games Today</b> </div>
                {% else %}
                    {% for item in games %}
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <!-- small box -->
                        <div class="small-box" name="gamemsg" id="{{ forloop.counter }}">
                            <div class="inline row">
                                <div class="col-lg-7 col-md-9 col-xs-7">

                                    <a style="color: #ffffff;" href="/game/team={{ item.visit_team.team_name }}">
                                        <p style="font-size: 30px;"><strong> {{ item.visit_team.team_name }} </strong></p>
                                    </a>
                                    <a style="color: #ffffff;" href="/game/team={{ item.home_team.team_name }}">
                                        <p style="font-size: 30px;"><strong> {{ item.home_team.team_name }} </strong></p>
                                    </a>

                                </div>
                                <div class="col-lg-offset-1 col-lg-2 col-md-1  col-xs-4" style="font-size: 30px;">
                                    {% if item.visit_team_point > item.home_team_point %}
                                    <p style="font-size: 30px;"><strong> {{ item.visit_team_point }} </strong></p>
                                    <p style="font-size: 30px;"> {{ item.home_team_point }} </p>
                                    {% else %}
                                    <p style="font-size: 30px;"> {{ item.visit_team_point }} </p>
                                    <p style="font-size: 30px;"><strong> {{ item.home_team_point }} </strong></p>
                                    {% endif %}
                                </div>
                            </div>
                            <a href="/game/game={{ item.game_id }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
                <!-- ./col -->

                <!-- ./col -->
            </div>
            <!-- /.row -->

        </section>
        <!-- /.content -->
{% endblock %}

{% block jsback %}
<script type="text/javascript">
$(document).ready(function() {
    var bgcolor = ['bg-aqua', 'bg-yellow', 'bg-blue', 'bg-green',
               'bg-navy', 'bg-teal', 'bg-olive', 'bg-lime', 'bg-orange']
    var nodes = document.getElementsByName('gamemsg');
    for (var i = 0; i < nodes.length; i++) {
        var id = nodes.item(i).classList.add(bgcolor[i]);
    }
});
</script>
{% endblock %}
