{% extends 'game/base.html' %}
{% load index %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Player Ranking
        <small>Top Four Players Today</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/game/home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">ranking</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-6">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Top 4 Shooter Today</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-bordered table-striped">
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Player</th>
                  <th>Point</th>
                  <th>Point Graph</th>
                  <th style="width: 40px">Percentage</th>
                </tr>

                {% for item in top_4_player_today %}
                <tr>
                  <td>{{forloop.counter}}.</td>
                  <td><a href="/game/player={{ item.player }}">{{item.player}}</a></td>
                  {% load index %}
                  <td>{{top_4_player_today_point|get_at_index:forloop.counter0}}</td>
                  <td>
                    <div class="progress progress-xs progress-striped active">
                        <div class="progress-bar progress-bar-danger"
                             style="width: {{top_4_player_today_percentage|get_at_index:forloop.counter0}}%;">
                        </div>
                    </div>
                  </td>
                  <td><span class="badge bg-red">{{top_4_player_today_percentage|get_at_index:forloop.counter0}}%</span></td>
                </tr>
                <tr>

                {% endfor %}

              </table>
            </div>
            <!-- /.box-body -->

          </div>
          <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Top 4 Rebound Today</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-bordered table-striped">
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Player</th>
                  <th>Rebound</th>
                  <th>Rebound Graph</th>
                  <th style="width: 40px">Percentage</th>
                </tr>

                {% for item in top_4_defender_today %}
                <tr>
                  <td>{{forloop.counter}}.</td>
                  <td><a href="/game/player={{ item.player }}">{{item.player}}</a></td>
                  {% load index %}
                  <td>{{item.rebound}}</td>
                  <td>

                    <div class="progress progress-xs progress-striped active">

                      
                      <div class="progress-bar progress-bar-primary"
                           style="width: {{top_4_defender_today_percentage|get_at_index:forloop.counter0}}%;"></div>
                    </div>
                  </td>
                  <td><span class="badge bg-light-blue">{{top_4_defender_today_percentage|get_at_index:forloop.counter0}}%</span></td>
                </tr>
                <tr>
                
                {% endfor %}
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-6">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Top 4 Assistant Today</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body ">
              <table class="table table-striped">
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Player</th>
                  <th>Assist</th>
                  <th>Assist Graph</th>
                  <th style="width: 40px">Percentage</th>
                </tr>

                {% for item in top_4_assistant_today %}
                <tr>
                  <td>{{forloop.counter}}.</td>
                  <td><a href="/game/player={{ item.player }}">{{item.player}}</a></td>
                  {% load index %}
                  <td>{{item.assist}}</td>
                  <td>

                      <div class="progress progress-xs progress-striped active">
                      <div class="progress-bar progress-bar-yellow"
                           style="width: {{top_4_assistant_today_percentage|get_at_index:forloop.counter0}}%;"></div>
                    </div>
                  </td>
                  <td><span class="badge bg-yellow">{{top_4_assistant_today_percentage|get_at_index:forloop.counter0}}%</span></td>
                </tr>
                <tr>
                
                {% endfor %}
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Top 4 Fault Today</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-bordered table-striped">
                 <tr>
                  <th style="width: 10px">#</th>
                  <th>Player</th>
                  <th>Fault</th>
                  <th>Fault Graph</th>
                  <th style="width: 40px">Percentage</th>
                </tr>

                {% for item in top_4_fault_today %}
                <tr>
                  <td>{{forloop.counter}}.</td>
                  <td><a href="/game/player={{ item.player }}">{{item.player}}</a></td>
                  {% load index %}
                  <td>{{item.fault}}</td>
                  <td>

                    <div class="progress progress-xs progress-striped active">

                      
                      <div class="progress-bar progress-bar-green"
                           style="width: {{top_4_fault_today_percentage|get_at_index:forloop.counter0}}%;"></div>
                    </div>
                  </td>
                  <td><span class="badge bg-green">{{top_4_fault_today_percentage|get_at_index:forloop.counter0}}%</span></td>
                </tr>
                <tr>
                
                {% endfor %}

              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>

    <section class="content-header">
      <h1>
        Player Ranking
        <small>Top Four Players this season</small>
      </h1>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-md-6">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Top 4 Shooter Season</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-bordered table-striped">
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Player</th>
                  <th>Point</th>
                  <th>Point Graph</th>
                  <th style="width: 40px">Percentage</th>
                </tr>

                {% for item in top_4_player_season %}
                <tr>
                  <td>{{forloop.counter}}.</td>
                  <td><a href="/game/player={{ item.player }}">{{item.player}}</a></td>
                  <td>{{top_4_player_season_point|get_at_index:forloop.counter0}}</td>
                  <td>
                    <div class="progress progress-xs progress-striped active">
                      
                      <div class="progress-bar progress-bar-danger"
                           style="width: {{top_4_player_season_percentage|get_at_index:forloop.counter0}}%;"></div>
                    </div>
                  </td>
                  <td><span class="badge bg-red">{{top_4_player_season_percentage|get_at_index:forloop.counter0}}%</span></td>
                </tr>
                <tr>

                {% endfor %}

              </table>
            </div>
            <!-- /.box-body -->

          </div>
          <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Top 4 Defender Season</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-bordered table-striped">
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Player</th>
                  <th>Defence</th>
                  <th>Defence Graph</th>
                  <th style="width: 40px">Percentage</th>
                </tr>

                {% for item in top_4_defender_season %}
                <tr>
                  <td>{{forloop.counter}}.</td>
                    <td><a href="/game/player={{ item.player }}">{{item.player}}</a></td>
                  {% load index %}
                  <td>{{item.rebound}}</td>
                  <td>

                    <div class="progress progress-xs progress-striped active">

                      
                      <div class="progress-bar progress-bar-primary"
                           style="width: {{top_4_defender_season_percentage|get_at_index:forloop.counter0}}%;"></div>
                    </div>
                  </td>
                  <td><span class="badge bg-light-blue">{{top_4_defender_season_percentage|get_at_index:forloop.counter0}}%</span></td>
                </tr>
                <tr>
                
                {% endfor %}
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-6">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Top 4 Assistant Season</h3>

            </div>
            <!-- /.box-header -->
            <div class="box-body ">
              <table class="table table-bordered table-striped">
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Player</th>
                  <th>Assist</th>
                  <th>Assist Graph</th>
                  <th style="width: 40px">Percentage</th>
                </tr>

                {% for item in top_4_assistant_season %}
                <tr>
                  <td>{{forloop.counter}}.</td>
                    <td><a href="/game/player={{ item.player }}">{{item.player}}</a></td>
                  {% load index %}
                  <td>{{item.assist}}</td>
                  <td>

                      <div class="progress progress-xs progress-striped active">
                      <div class="progress-bar progress-bar-yellow"
                           style="width: {{top_4_assistant_season_percentage|get_at_index:forloop.counter0}}%;"></div>
                    </div>
                  </td>
                  <td><span class="badge bg-yellow">{{top_4_assistant_season_percentage|get_at_index:forloop.counter0}}%</span></td>
                </tr>
                <tr>
                
                {% endfor %}
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Top 4 Fault Season</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body ">
              <table class="table table-bordered table-striped">
                 <tr>
                  <th style="width: 10px">#</th>
                  <th>Player</th>
                  <th>Fault</th>
                  <th>Fault Graph</th>
                  <th style="width: 40px">Percentage</th>
                </tr>

                {% for item in top_4_fault_season %}
                <tr>
                  <td>{{forloop.counter}}.</td>
                    <td><a href="/game/player={{ item.player }}">{{item.player}}</a></td>
                  <td>{{item.fault}}</td>
                  <td>
                    <div class="progress progress-xs progress-striped active">
                      <div class="progress-bar progress-bar-green"
                           style="width: {{top_4_fault_season_percentage|get_at_index:forloop.counter0}}%;"></div>
                    </div>
                  </td>
                  <td><span class="badge bg-green">{{top_4_fault_season_percentage|get_at_index:forloop.counter0}}%</span></td>
                </tr>
                <tr>
                
                {% endfor %}

              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
   </section>

    <section class="content-header">
      <h1>
        All Players
        <small>All Players this season</small>
      </h1>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-xs-12">

          <div class="box">
            <div class="box-header">
              <h3 class="box-title">All Players Season Data</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive" style="overflow: auto;">
              <table id="example1" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Player</th>
                  <th>Game Number</th>
                  <!-- <th>Start Number</th> -->
                  <th>Average Time</th>
                  <th>Average Points</th>
                  <th>Average Two Points</th>
                  <th>Average Two Points Percentage</th>
                  <th>Average Three Points</th>
                  <th>Average Three Points Percentage</th>
                  <th>Average Free Throw</th>
                  <th>Average Free Throw Percentage</th>
                </tr>
                </thead>
                <tbody>
                {% if all_player_season_data %}
                  {% for key, value in all_player_season_data.items %}
                    <tr>
                        <td><a href="/game/player={{ key }}">{{key}}</a></td>
                      {# <td>{{ value.game_number }}</td> #}
                      <td>{{ value.start_number }}</td>
                      <td>{{ value.time_all }}</td>
                      <td>{{ value.point_all }}</td>
                      <td>{{ value.two_point_in_all }} / {{ value.two_point_all }}</td>
                      <td>{{ value.average_two_point_percentage }} %</td>
                      <td>{{ value.three_point_in_all }} / {{ value.three_point_all }}</td>
                      <td>{{ value.average_three_point_percentage }} %</td>
                      <td>{{ value.free_throw_in_all }} / {{ value.free_throw_all }}</td>
                      <td>{{ value.average_free_throw_percentage }} %</td>

                    </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td>???</td>
                    <td>???</td>
                    <td>???</td>
                    <td>???</td>
                    <td>???</td>
                    <td>???</td>
                    <td>???</td>
                    <td>???</td>
                    <td>???</td>
                    <td>???</td>
                  </tr>

                {% endif %}

                </tbody>
                <tfoot>
                <tr>
                  <th>Player</th>
                  <th>Game Number</th>
                  <!-- <th>Start Number</th> -->
                  <th>Average Time</th>
                  <th>Average Points</th>
                  <th>Average Two Points</th>
                  <th>Average Two Points Percentage</th>
                  <th>Average Three Points</th>
                  <th>Average Three Points Percentage</th>
                  <th>Average Free Throw</th>
                  <th>Average Free Throw Percentage</th>
                </tr>
                </tfoot>
              </table>
            </div>

            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
      <!-- /.col -->
      <!-- /.row -->
    </section>
    <!-- /.content -->


{% endblock %}

{% block csshead %}
 <!-- DataTables -->
  <link rel="stylesheet" href="/static/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
{% endblock %}

{% block jsback %}
<!-- DataTables -->
<script src="/static/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script>
  $(function () {
    $('#example1').DataTable()
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
</script>
{% endblock %}